@import '../styles/colors.scss';

// .signup {
//   h1 {
//     text-align: center;
//   }
// }
// .form {
//   display: flex;
//   flex-direction: column;
//   max-width: 50%;
//   margin: 0 auto;
//   & > input {
//     margin: 20px;
//     padding: 10px;
//     border: 2px solid $main;
//     outline: none;
//     font-size: 26px;
//     border-radius: 25px;
//   }
//   button {
//     border: none;
//     background-color: inherit;
//     cursor: pointer;
//     font-size: 26px;
//     max-width: 20%;
//     margin: 0 auto;
//     padding: 10px 20px;
//     margin-top: 10px;
//     border-radius: 25px;
//     border: 2px solid $main;
//     &:hover {
//       background-color: $main;
//       color: #fff;
//     }
//     &:active {
//       background-color: #fff;
//       color: $main;
//     }
//   }
// }

.isDanger {
  color: red;
}

.signup {
  text-align: center;
  h1 {
    margin-bottom: 30px;
  }

  .field {
    margin: 20px 0;
  }

  input,
  textarea {
    resize: none;
    padding: 20px;
    font-size: 40px;
    border-radius: 37px;
    margin: 10px 0;
    border: 3px solid $main;
    outline: none;
  }
  .control {
    position: relative;
  }
  button {
    padding: 20px;
    font-size: 40px;
    border-radius: 37px;
    margin: 10px 0;
    border: 3px solid $main;
    background-color: inherit;
    outline: none;
    &:hover {
      background-color: $main;
      color: #fff;
      cursor: pointer;
    }
    &:active {
      background-color: #fff;
      color: $main;
      cursor: pointer;
    }
  }
  
  @media (max-width: 1024px) {
    display: block;
    justify-content: center;
  }
}
